.hello__container {
    margin: 0 auto;
    margin-top: 168px;
}

.hello__title {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    text-transform: uppercase;
}

.hellow__text {
    margin-top: 17.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.button {
    width: 195px;
    height: 55px;
    padding-top: 18px;
    text-align: center;
    background: #FF3D00;
    border-radius: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button--center {
    margin: 0 auto;
    margin-top: 43.5px;
}